<h1>CourseResearchSystem</h1>

<thead>
	<p><%= link_to 'New course',new_course_path %></p>
	<%= render "search"%>
	
    <tr>
      <th>Name</th>
     
      <th colspan="3"></th>
    </tr>
</thead>

<tbody>
<% @courses.each do |course| %>
  <p>
  <tr>
  <td><%= course.name %></td>
  <td><%= link_to "show",course_path(course) %></td> 
  <td><%= link_to "Edit", edit_course_path(course)%></td>
  <td><%= link_to 'Delete', course, method: :delete %></td>
  </tr>
</p>
<% end %>
</tbody>
